@import '@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Classe personnalisée  */
.height-40rem {
    height: 40rem; /* Deux fois la hauteur de la fenêtre */
  }

.w-400 {
    width: 400px;
}
.h-400 {
    height: 400px;
}


.Steeve{
  @apply flex-grow p-3 text-black outline-none;
}

.bord{
  @apply border-solid border-black border-2;
}


