@import '@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Classe personnalisée  */
.height-40rem {
    height: 40rem; 
  }

.w-400 {
    width: 400px;
}
.h-400 {
    height: 400px;
}

.h-600 {
  height: 600px;
}

.h-730 {
  height: 730px;
}




